.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);

    &.show {
        display: flex;
    }

    &-content {
        display: flex;
        flex-direction: column;
        background-color: #fff;
        margin: 15% auto;
        padding: 20px;
        border-radius: 20px;
        width: 60%;
        gap: 10px;

        h2 {
            text-align: center;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 10px;

            select,
            textarea {
                padding: 12px;
                border: 1px solid #ccc;
                border-radius: 6px;
                font-family: 'Rubik';  
                resize: none;      
            }

            button[type='submit'] {
                background-color: var(--secondary);
                color: white;
                padding: 12px;
                border: none;
                border-radius: 6px;
                cursor: pointer;
                font-family: 'Rubik';
                font-size: 1em;

                &:hover {
                    background-color: var(--success);
                }
            }
        }

        .close-button {
            cursor: pointer;
            font-size: 1.5em;
            color: var(--red1);
            align-self: flex-end;

            &:hover {
                color: #d32f2f;
            }
        }
    }
}

@media (max-width: 700px) {
    .modal {
        &-content {
            width: 90%;
            }
    }
}

button.report { 
    display: flex;
    border: none; 
    border-radius: 12px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
    padding: 15px;
    background-color: var(--grey1);

    &:hover {
        background-color: var(--grey2);
    }

    &:focus {
        outline: none; 
        box-shadow: 0 0 0 3px rgba(72, 68, 68, 0.5); 
    }

    img {
        width: 20px;
        height: 20px;
    }
}