.date-input {
    -webkit-appearance: none;
    width: 100%;
    height: 40px; 
    border-radius: 6px;
    background: var(--white1);
    outline: none;
    border: 1px solid var(--grey1); 
    padding: 12px; 
    font-family: 'Rubik';
    transition: border-color 0.3s ease, background-color 0.3s ease; 
}

.date-input:focus {
    border-color: var(--secondary); 
    background-color: var(--light-grey); 
}

.date-input:hover {
    border-color: var(--secondary); 
    background-color: var(--light-grey); 
}