.navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: var(--nav-width);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--white1);
    box-sizing: border-box;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    padding: 0 10%;

    .userinfo {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative; 
    
        .user-balance-popup {
            display: none;
            position: absolute; 
            top: 48px; 
            left: 50%; 
            transform: translateX(-50%); 
            width: 310px; 
            background: white; 
            border: 1px solid #ccc; 
            border-radius: 0 0 10px 10px;
            padding: 10px; 
            box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
            z-index: 2000; 
            p {
                font-size: 16px;
            }
        }
    }

    &__hamburger {
        display: none;
    }

    &__logo {
        height: 100%;
        display: flex;

        &__link {
            width: 84px;
        }

        &__img {
            height: 100%;
            width: auto;
        }
    }

    &__list {
        z-index: 10;

        &__ul {
            list-style: none;
            display: flex;
            gap: 20px;
        }
    }

    &__link {
        padding: 12px 18px;
        text-decoration: none;
        color: var(--black1);
        border-radius: 10px;
        transition: background-color 0.2s;

        &:hover {
            background-color: var(--success);
            color: var(--white1);
            border-radius: 10px;
        }

        &--active {
            background-color: var(--secondary);
            color: var(--white1);
            border-radius: 10px;
        }
    }

    &__button {
        width: 180px;
        border-radius: 10px;
        box-sizing: border-box;
    }
}

@media (max-width: 1035px) {
    .navbar {
        padding: 0 5%;

        &__list {
            &__ul {
                gap: 0px;
            }
        }
    }
}

@media (max-width: 830px) {
    .navbar {

        &__hamburger {
            display: block;
        }
        
        &__list {
            display: none;
            flex-direction: column;
            position: absolute;
            top: 100%;
            right: 0;
            background-color: white;
            width: 100%;

            &__ul {
                flex-direction: column;
                gap: 25px;
                padding: 20px;
            }
        }
    
        &__link {
            margin: 1rem 0;
        }
    
        &__hamburger__button {
            background: none;
            border: none;
            cursor: pointer;
        }
    
        &__hamburger__icon {
            display: block;
            width: 25px;
            height: 3px;
            background-color: var(--secondary);
            margin: 5px 0;
        }
    
        &__list--active {
            display: flex;
        }
    }
}


