.shop-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    min-height: 90%;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

    
        
        min-width: 400px;
        margin-top: 35px;
        height: fit-content;

    .product-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 20px;
    }

    .product-card {
        min-width: 160px;
        align-items: center;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 15px;
        width: calc(25% - 20px); 
        padding: 20px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        transition: transform 0.2s;
        display: flex;
        flex-direction: column;
        gap: 10px;

        &:nth-child(3n) {
            margin-right: 0;
        }

        &:hover {
            transform: scale(1.02);
        }

        .image-container {
            width: 100%;
            height: 150px;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            display: flex;
            position: relative;
        }

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;
            border-radius: 5px;
        }

        h2 {
            text-align: center;
        }

        .description {
            color: var(--grey2);
            text-align: center;
        }

        .buy-button {
            background-color: var(--secondary); 
            color: white;
            border: none;
            padding: 12px;
            font-size: 1em;
            border-radius: 10px;
            cursor: pointer;
            width: 100%;
            font-family: 'Rubik';
            transition: background-color 0.3s;

            &:hover {
                background-color: var(--success); 
            }
        }
    }
}

@media (max-width: 450px) { 
    .shop-container {
        width: 90%;
        .product-card {
            width: 100%; 
        }
    }
}

.topup-button {
    background-color: #007bff; 
    color: white; 
    border: none; 
    padding: 12px; 
    border-radius: 10px; 
    font-size: 1em;
    cursor: pointer; 
    font-family: 'Rubik';
    transition: background-color 0.3s; 
}

.topup-button:hover {
    background-color: #0056b3; 
}