@use './pages/feed/ui/feed' as *;
@use './shared/components/CustomInput/customInput' as *;
@use './shared/components/FooterText/footerText' as *;
@use './shared/components/GenderSelection/genderSelection' as *;
@use './shared/components/Header/header' as *;
@use './shared/components/ImageSection/imageSection' as *;
@use './widgets/SwipeCard/swipeCard.scss' as *;
@use './widgets/Report/report.scss' as *;
@use './shared/components/TextButton/textButton' as *;
@use './widgets/Navbar/ui/navbar' as *;
@use './widgets/RegistrationForm/registrationForm' as *;
@use './pages/matches/ui/matches.scss' as *;
@use './widgets/MatchCard/matchCard.scss' as *;
@use './pages/matches/ui/messageForm.scss' as *;
@use './shared/components/Carousel/Carousel.scss' as *;
@use './shared/components/Avatar/avatar' as *;
@use './widgets/Notification/notification.scss' as *;
@use './pages/chats/ui/chats.scss' as *;
@use './widgets/ChatsList/ChatsList.scss' as *;
@use './widgets/Chat/Chat.scss' as *;
@use './shared/components/ChatHeader/ChatHeader.scss' as *;
@use './shared/components/ChatInput/ChatInput.scss' as *;
@use './shared/components/Message/Message.scss' as *;
@use './shared/components/ChatPreview/ChatPreview.scss' as *;
@use './shared/components/ChatListHeader/ChatListHeader.scss' as *;
@use './shared/components/Search/Search.scss' as *;
@use './shared/components/Birth_date/birth_date.scss' as *;
@use './shared/components/PassChange/passChange.scss' as *;
@use './widgets/LimitNotification/LimitNotification.scss' as *;

@use './pages/shop/ui/shop.scss' as *;
@use './widgets/Topup/topup.scss' as *;



@font-face {
    font-family: 'Rubik';
    src: url('./shared/assets/fonts/Rubik-Regular.woff') format('woff2'),
         url('./shared/assets/fonts/Rubik-Regular.woff2') format('woff');
}

:root {
    --primary: #B9F1D9FF;
    --secondary: #49B2A6FF;
    --red1: #FF1A1AFF;
    --error: #FF6275FF;
    --warning: #FAC748FF;
    --success: #204E4AFF;
    --white1: #FFFFFFFF;
    --black1: #000000FF;
    --lightGrey: #f7f7f7;
    --grey1: rgb(217, 217, 217);
    --grey2: #8C8C8CFF;
    --nav-width: 55px;
}

h1 {
    line-height: normal;
    letter-spacing: 0;
    font-weight: 700;
}

h2 {
    line-height: normal;
    letter-spacing: 0;
    font-weight: 600;
}

h3 {
    line-height: normal;
    letter-spacing: 0;
    font-weight: 500;
    white-space: pre-wrap;
}

.text-base {
    line-height: normal;
    letter-spacing: 0;
    font-weight: 400;
    font-size: 16px;
}

.text-link,
.text-base-medium {
    filter: blur(1rem);
    line-height: normal;
    letter-spacing: 0;
}

.text-base-medium {
    font-weight: 500;
}

body {
    font-family: 'Rubik';
    background-color: var(--primary);
    background-image: url(./shared/assets/img/background.svg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.root {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.navbarRoot {
    display: flex;
    height: var(--nav-width);
    width: 100%;
}

.contentRoot {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}

.img {
    user-select: none;
    pointer-events: none;
}

.button {
    background-color: var(--secondary);
    border: none;
    cursor: pointer;
    color: var(--white1);
    transition: background-color 0.3s;
    font-family: 'Rubik';
    font-size: 1em;

    &:hover {
        background-color: var(--success);
    }
}

.button_light {
    background-color: var(--primary);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
        background-color: var(--white1);
    }
}

.form {
    background-color: var(--white1);
    border-radius: 25px;
    width: 70%;
    min-width: 890px;
    height: auto;
    min-height: 650px;
    display: flex;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    padding: 20px;
    gap: 20px;
}

@media (max-width: 890px) {
    .form {
        width: 90%;
        min-width: 280px; 
        height: auto;
        min-height: 90%;

        .image-section {
            display: none;
        }
    }
}

@media (max-width: 450px) {
    .form {
        width: 90%;
        min-width: 280px; 
        min-height: 80%; 
        height: auto;
        border-radius: 15px; 

        .image-section {
            display: none;
        }
    }
}

.wrapper {
    max-height: 80vh;
}

.form-section {
    flex: 1;
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
}

.label {
    display: block;
    color: var(--black1);
}

.error {
    color: var(--error);
    display: none;
}

.button_img {
    border-radius: 50%;
    line-height: 60px;
    width: 80px;
    height: 80px;
    border: none;
    display: inline-block;
    margin: 0 8px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s;

    &__img {
        width: 75%;
        height: 75%;
        object-fit: contain;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transform-origin: center; 
        transition: transform 0.1s ease-in-out;
    }

    &:hover &__img {
        transform: translate(-50%, -50%) scale(1.1); 
    }
}

.profile-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: var(--lightGrey);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--secondary); 
    border-radius: 10px;
    border: 3px solid var(--lightGrey);
}

*::-webkit-scrollbar-thumb:hover {
    background-color: var(--success);
}

@keyframes fadeInModal {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOutModal {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
}

.profile-modal {
    opacity: 0;
    transition: opacity 0.3s ease-out; 

    &.opening {
        animation: fadeInModal 0.3s forwards;
    }

    &.open {
        opacity: 1;
    }

    &.closing {
        animation: fadeOutModal 0.3s forwards;
    }
}